In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl

In [2]:
df_card_data = pd.read_csv("../data/preprocessed/extracted_transactions.csv")
df_card_data.tail()

,date,reference,description,amount,file,page
2086,SEP/11,091268654621,746 DL*UBER RIDES,4.82,202309.pdf,4
2087,SEP/13,091499000605,988 UBER *TRIP HELP.UBER.C,4.26,202309.pdf,4
2088,SEP/13,091499000605,990 NETFLIX.COM 866-579-717,15.05,202309.pdf,4
2089,SEP/14,091468695704,024 CLAVE PAGOS GAS PAGO FACTURA 6523627,77.62,202309.pdf,4
2090,SEP/15,091514400999T,078 IMPUESTO F.E.C.I.,6.47,202309.pdf,4

In [3]:
df_card_data.shape

(2091, 6)

In [4]:
# check how many unique files were read - there were 40 files
df_card_data['file'].nunique()

40

In [5]:
df_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2091 entries, 0 to 2090
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         2091 non-null   object
 1   reference    2091 non-null   object
 2   description  2091 non-null   object
 3   amount       2091 non-null   float64
 4   file         2091 non-null   object
 5   page         2091 non-null   int64
dtypes: float64(1), int64(1), object(4)
memory usage: 98.1+ KB

In [8]:
df_card_data["year"]= df_card_data["file"].str[0:4]
df_card_data["month"]= df_card_data["file"].str[4:6]

In [9]:
df_card_data.head()

,date,reference,description,amount,file,page,year,month
0,MAR/14,031699000605,UBER *TRIP HELP.UBER.C,3.46,202304.pdf,2,2023,04
1,MAR/14,031679000605,PUERTO VARAS RESTAURANT BELLA VISTA,26.44,202304.pdf,2,2023,04
2,MAR/15,031668674522,REY BELLA VISTA 1091 (V/M/C),19.95,202304.pdf,2,2023,04
3,MAR/16,031622173910,PLAN SALDOS DEU 4641260022403213,21.97,202304.pdf,2,2023,04
4,MAR/16,031622173911,PROTECCION ROBO 4641260022403213,5.25,202304.pdf,2,2023,04

In [10]:
df_card_data["year-month"] = df_card_data["year"] + "-" + df_card_data["month"]
df_card_data.head()

,date,reference,description,amount,file,page,year,month,year-month
0,MAR/14,031699000605,UBER *TRIP HELP.UBER.C,3.46,202304.pdf,2,2023,04,2023-04
1,MAR/14,031679000605,PUERTO VARAS RESTAURANT BELLA VISTA,26.44,202304.pdf,2,2023,04,2023-04
2,MAR/15,031668674522,REY BELLA VISTA 1091 (V/M/C),19.95,202304.pdf,2,2023,04,2023-04
3,MAR/16,031622173910,PLAN SALDOS DEU 4641260022403213,21.97,202304.pdf,2,2023,04,2023-04
4,MAR/16,031622173911,PROTECCION ROBO 4641260022403213,5.25,202304.pdf,2,2023,04,2023-04

In [11]:
df_card_data.head()

,date,reference,description,amount,file,page,year,month,year-month
0,MAR/14,031699000605,UBER *TRIP HELP.UBER.C,3.46,202304.pdf,2,2023,04,2023-04
1,MAR/14,031679000605,PUERTO VARAS RESTAURANT BELLA VISTA,26.44,202304.pdf,2,2023,04,2023-04
2,MAR/15,031668674522,REY BELLA VISTA 1091 (V/M/C),19.95,202304.pdf,2,2023,04,2023-04
3,MAR/16,031622173910,PLAN SALDOS DEU 4641260022403213,21.97,202304.pdf,2,2023,04,2023-04
4,MAR/16,031622173911,PROTECCION ROBO 4641260022403213,5.25,202304.pdf,2,2023,04,2023-04

In [12]:
df_card_data["description"].unique()

array(['UBER *TRIP HELP.UBER.C', 'PUERTO VARAS RESTAURANT BELLA VISTA',
       'REY BELLA VISTA 1091 (V/M/C)', ..., '990 NETFLIX.COM 866-579-717',
       '024 CLAVE PAGOS GAS PAGO FACTURA 6523627',
       '078 IMPUESTO F.E.C.I.'], shape=(1449,), dtype=object)

In [13]:
df_card_data["description"].nunique()

1449

In [14]:
df_card_data.to_excel("../data/preprocessed/extracted_transactions.xlsx", index=False)